:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --first-bg-color: #c4c4c4;
  --second-bg-color: #f5f4fa;
  --bg-border-color: #000000;
  --logo-color: #130d0d;
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --social-links-color: rgba(255, 255, 255, 0.1);
  --grid-item: 1;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link,
.logo {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

/* Header */

header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--header-border-color);
}

.page-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-list > li:not(:last-child),
.contacts-list > li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .logo {
  margin-right: 93px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}

.logo-part {
  color: var(--accent-color);
}

.nav-link,
.contact-link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: var(--accent-color);
}

/*Страница Студия*/

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  color: var(--dark-bg-text-color);
  background-color: var(--first-bg-color);
  border: 1px solid var(--bg-border-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  cursor: pointer;
}

/* Преимущества  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  font-size: 14px;
}

.benefits-item {
  --grid-item: 4;
}

.benefits-item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  margin-bottom: 30px;
}

.item-antenna::before {
  background-image: url(../images/studio/antenna.svg);
}

.item-clock::before {
  background-image: url(../images/studio/clock.svg);
}

.item-diagram::before {
  background-image: url(../images/studio/diagram.svg);
}

.item-astronaut::before {
  background-image: url(../images/studio/astronaut.svg);
}

.benefits-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

/* Работа */

.work {
  padding-top: 0;
}

.work-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.work-item {
  --grid-item: 3;
}

/* Команда */

.team {
  background-color: var(--second-bg-color);
}

.team-list {
  text-align: center;
  line-height: 1.19;
}

.team-list-item {
  --grid-item: 4;

  background-color: var(--dark-bg-text-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--title-color);
}

/* Footer */

.dark-bg,
.dark-bg .logo {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.address-section {
  margin-right: 70px;
}

.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
}

.contacts > li {
  margin-top: 9px;
}

.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.social-links {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.social-link {
  display: inline-block;
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link::before {
  content: '';
  display: block;
  height: 44px;
  width: 44px;
  background-color: var(--social-links-color);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  border-radius: 50%;
}

.social-link:hover::before,
.social-link:focus::before {
  background-color: var(--accent-color);
}

.item-instagram::before {
  background-image: url(../images/studio/instagram.svg);
}

.item-twitter::before {
  background-image: url(../images/studio/twitter.svg);
}

.item-facebook::before {
  background-image: url(../images/studio/facebook.svg);
}

.item-linkedin::before {
  background-image: url(../images/studio/linkedin.svg);
}

/*Страница Портфолио*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list > li:not(:last-child) {
  margin-right: 8px;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 75px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--second-bg-color);
  border: var(--second-bg-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples-list {
  line-height: 1.86;
}

.examples-list-item {
  --grid-item: 3;

  background-color: var(--dark-bg-text-color);
}

.examples-list-item:hover,
.examples-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-item {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.example-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
